.centralizador {
    display: flex;
    flex-direction: row;
    justify-content: center;

    }
    
    .container__carousel {
        margin-top: 70px;
        margin-bottom: 4%;
    }
    
    body .slick-prev::before, body .slick-next::before {
    color: #65b029 !important;
    }
    
    .img-style {
    height: 250px;
    width: 300px;
    border-radius: 5%;
    }
    
    .carousel {
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }
    