<div>
        <app-menu/>
    <div class="wrapper-about">
        <div class="picture">
            <img src="../../../assets/carin1.png">
            <img src="../../../assets/carin2.png">
        </div>
   <div class="description">
    <p>Cárin graduated in Light and Sound at ACE - Academia Contemporânea do Espetáculo (2007-10) and in  Production and Design – Set Design at ESMAE - Escola Superior de Música e Artes do Espetáculo (2011-2014).</p>

    <p>She started work as lighting technician with some theatre companies and in some institutions, like Teatro do Bolhão, Teatro Nacional S.João/ D. Maria II, Al Arabiya - London Studios, Casa da Música, and some others.   
    Since 2014 she has been working as lighting designer with several directors and coreographers developing her work in theatre, dance and music.</p>
    <p>Also has been working as technical director on the theatre festivals FITEI, Alkantara and Cultura em Expansão.</p>

    <p>In 2022 she won Prémio Revelação Ageas Teatro Nacional D. Maria II for her work.</p>

    <p>She is now based in Porto, Portugal.</p>
    <br>
    <p>CONTACTO </p>
    <p>contratosbuepromissores&#64;gmail.com</p>
   </div>
   </div>
</div>
